name: BE CI

on:
    push:
        branches:
            - "be/**" # be/로 시작하는 모든 브랜치
        paths:
            - "be/**" # be 폴더 변경시에만 동작
            - ".github/workflows/be-ci.yml"

jobs:
    be-ci:
        name: Continuous Integration (BE)
        runs-on: ubuntu-latest
        permissions:
            contents: read

        defaults:
            run:
                working-directory: be # run 스텝은 be 디렉터리 기준

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up JDK 17
              uses: actions/setup-java@v4
              with:
                  java-version: "17"
                  distribution: "temurin"

            - name: Setup MySQL for test
              uses: mirromutth/mysql-action@v1.1
              with:
                  host port: 3306
                  mysql database: "TESTDB"
                  mysql user: "aaa"
                  mysql password: "aaa"

            - name: Setup Redis for test
              uses: supercharge/redis-github-action@1.7.0
              with:
                  redis-version: 6

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@417ae3ccd767c252f5661f1ace9f835f9654f2b5 # v3.1.0

            - name: Get short SHA
              id: slug
              run: echo "sha7=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_OUTPUT

            - name: Build, Test with Gradle Wrapper
              run: ./gradlew clean test --stacktrace --info
